<input
      class="carousel-open"
      type="radio"
      id="carousel-1"
      name="carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="carousel-item absolute opacity-0" style="height:50vh;">
    
        {{!-- {{#each questions as |question|}} --}}
         <div class="flex justify-center justify-around text-2xl question-container" data-questionId="{{question.id}}"> <!-- Tells us what page we need a request for based on what user has clicked -->
           <p>Would you rather save 
            <span id="answerable-question-choice-1">{{question.first_choice}}</span> or <span class="flex justify-end text-2xl" id="answerable-question-choice-2">{{question.second_choice}}</span>
            </p>
          </div>
        {{!-- {{/each}} --}}
        {{!-- <button id="answerable-question-choice-1"></button>
        <button class="flex justify-end text-2xl" id="answerable-question-choice-2"></button> --}}
    </div>
    </div>
    {{!-- <label
      for="carousel-3"
      class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
    >‹</label>
    <label
      for="carousel-2"
      class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
    >›</label> --}}