<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      User Registry
    </h1>
    <!-- TODO: Add a comment describing the functionality of this helper -->
    {{!-- {{#if logged_in}} --}}
    {{!-- {{/if}} --}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
