{{> instructions}}
<br>
    <main class="flex flex-col h-20 bg-center bg-cover bg-no-repeat">
        <div class="grid place-items-center mx-auto p-20 sm:my-auto bg-white rounded-3xl space-y-10">
        <h1 class="text-5xl font-semibold text-blue-500">Would you rather save</h1>
<div class="flex items-center justify-center space-x-3">
<button class="bg-blue-300 px-4 py-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
    <span><p id="answerable-question-choice-1"></p></span>
</button>
<p>or</p>
<button class="bg-red-500 px-4 py-2 font-semibold text-white inline-flex items-center space-x-2 rounded">
    <span><p id="answerable-question-choice-2"></p></span>
</button>
</div>
        </div>
    </main>
<script src="/js/homepage.js"></script>