{{> instructions}}
  


<div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20 justify-center">
  <div class="flex justify-center justify-around text-2xl question-container" data-questionId="{{question.id}}"> <!-- Tells us what page we need a request for based on what user has clicked -->
    <p>Would you rather save 
        
<div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{question.first_choice}}</h2>
    <p class="mt-2 text-gray-600"><span id="answerable-question-choice-1">
          
        </span></p>
  </div>
</div>
        
         or 

<div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
  <div class="flex justify-center md:justify-end -mt-16">
  </div>
  <div>
    <h2 class="text-gray-800 text-3xl font-semibold">{{question.second_choice}}</h2>
    <p class="mt-2 text-gray-600">     <span class="flex justify-end text-2xl" id="answerable-question-choice-2">
          
        </span>
    </p>
  </div></p>
  </div>
</div>
</div>


<script src="/js/homepage.js"></script>

