{{#if loggedIn}}
  <div class="mb-10">
    <h3>Your Questions</h3>
    <ul id="user-created-questions" class="list-disc ml-10 italic tracking-wide">
      {{#each userQuestions}}
        <li>
          {{first_choice}} VS {{second_choice}}
        </li>
      {{/each}}
    </ul>
  </div>

  <hr />

  <form id='question-form' class='form question-form'>
    <div class='form-group'>
      <h1>Create your own questions</h1>
      <label for='firstChoice-register'>First Choice:</label>
      <input class='form-input' type='text' id='firstChoice-register' />
    </div>
    <div class='form-group'>
      <label for='secondChoice-register'>Second Choice:</label>
      <input class='form-input' type='text' id='secondChoice-register' />
    </div>
    <div class='form-group'>
      <button class='btn btn-primary' type='submit'>Submit</button>
    </div>
  </form>
  <script src='/js/profile.js'></script>
{{/if}}