<form id="register-form" class="form register-form">
  <div class="form-group">
    <label for="name-register">Name:</label>
    <input class="form-input" type="text" id="name-register" />
  </div>
  <div class="form-group">
    <label for="email-register">Email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  <div class="form-group">
    <label for="password-register">Password: (Must be at least 8 characters)</label>
    <input class="form-input" type="password" id="password-register" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="registerBtn" type="submit">Register</button>
  </div>
</form>
<script src="/js/register.js"></script>
