<form class="form register-form">
  <div class="form-group">
    <label for="name-register">name:</label>
    <input class="form-input" type="text" id="name-register" />
  </div>
  <div class="form-group">
    <label for="email-register">email:</label>
    <input class="form-input" type="text" id="email-register" />
  </div>
  <div class="form-group">
    <label for="password-register">password:</label>
    <input class="form-input" type="password" id="password-register" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
<script src="/js/register.js"></script>
